<app-header></app-header>
<p-toast />
<p-confirmDialog/>
<form [formGroup]="credencialForm">
    <p-panel header="Formulario credenciales">
        <div class="flex border-round bg-gray-100 p-3 m-3 border-1 border-300">

            <div class="w-12 p-3 flex align-items-center justify-content-center">
                <div class="formgrid grid w-full">
                    <div>
                        <input type="hidden" formControlName="codigo" id="codigo">
                    </div>
                    <div class="field col-12 md:col-2">
                        <label for="nombreReferencial" class="pl-1">Nombre referencial
                            <span *ngIf="isFieldRequired('nombreReferencial')" style="color: red;">*</span>
                        </label>
                        <input id="nombreReferencial" 
                            type="text"
                            pInputText
                            maxlength="50"
                            (input)="filterAlphanumeric($event)"
                            formControlName="nombreReferencial"
                            [ngClass]="(credencialForm.get('nombreReferencial')?.errors?.['required'] || credencialForm.get('nombreReferencial')?.errors?.['maxlength']) && credencialForm.get('usuario')?.touched ? 
                                        'text-base h-3rem text-color surface-overlay p-1 border-1 border-solid border-red-500 border-round appearance-none outline-none focus:border-primary w-full': 
                                        'text-base h-3rem text-color surface-overlay p-1 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full'">
                        <div *ngIf="credencialForm.get('nombreReferencial')?.errors?.['required'] && credencialForm.get('nombreReferencial')?.touched" class="p-error">
                            El campo es requerido
                        </div>
                        <div *ngIf="credencialForm.get('nombreReferencial')?.errors?.['maxlength'] && credencialForm.get('nombreReferencial')?.touched" class="p-error">
                            Ha excedido el número máximo de caracteres permitidos
                        </div>
                    </div>

                    <div class="field col-12 md:col-2">
                        <label for="usuario" class="pl-1">Usuario
                            <span *ngIf="isFieldRequired('usuario')" style="color: red;">*</span>
                        </label>
                        <input id="usuario" 
                            type="text"
                            pInputText
                            maxlength="50"
                            (input)="filterAlphanumeric($event)"
                            formControlName="usuario"
                            [ngClass]="(credencialForm.get('usuario')?.errors?.['required'] || credencialForm.get('usuario')?.errors?.['maxlength']) && credencialForm.get('usuario')?.touched ? 
                                        'text-base h-3rem text-color surface-overlay p-1 border-1 border-solid border-red-500 border-round appearance-none outline-none focus:border-primary w-full': 
                                        'text-base h-3rem text-color surface-overlay p-1 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full'">
                        <div *ngIf="credencialForm.get('usuario')?.errors?.['required'] && credencialForm.get('usuario')?.touched" class="p-error">
                            El campo es requerido
                        </div>
                        <div *ngIf="credencialForm.get('usuario')?.errors?.['maxlength'] && credencialForm.get('usuario')?.touched" class="p-error">
                            Ha excedido el número máximo de caracteres permitidos
                        </div>
                    </div>
                    <div class="field col-12 md:col-2">
                        <label for="clave" class="pl-1">Clave
                            <span *ngIf="isFieldRequired('clave')" style="color: red;">*</span>
                        </label>
                        <input id="clave" 
                            type="text"
                            pInputText
                            maxlength="15"
                            (input)="filterAlphanumeric($event)"
                            formControlName="clave"
                            [ngClass]="(credencialForm.get('clave')?.errors?.['required'] || credencialForm.get('clave')?.errors?.['maxlength']) && credencialForm.get('clave')?.touched ? 
                                        'text-base h-3rem text-color surface-overlay p-1 border-1 border-solid border-red-500 border-round appearance-none outline-none focus:border-primary w-full': 
                                        'text-base h-3rem text-color surface-overlay p-1 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full'">
                        <div *ngIf="credencialForm.get('clave')?.errors?.['required'] && credencialForm.get('clave')?.touched" class="p-error">
                            El campo es requerido
                        </div>
                        <div *ngIf="credencialForm.get('clave')?.errors?.['maxlength'] && credencialForm.get('clave')?.touched" class="p-error">
                            Ha excedido el número máximo de caracteres permitidos
                        </div>
                    </div>
                    <div class="field col-12 md:col-2">
                        <label for="referencia" class="pl-1">Adicional
                            <span *ngIf="isFieldRequired('referencia')" style="color: red;">*</span>
                        </label>
                        <input id="referencia" 
                            type="text"
                            (input)="filterAlphanumeric($event);"
                            formControlName="referencia"
                            pInputText 
                            maxlength="20"
                            [ngClass]="(credencialForm.get('referencia')?.errors?.['required'] || credencialForm.get('referencia')?.errors?.['maxlength'] ) && credencialForm.get('referencia')?.touched ? 
                                        'text-base h-3rem text-color surface-overlay p-1 border-1 border-solid border-red-500 border-round appearance-none outline-none focus:border-primary w-full': 
                                        'text-base h-3rem text-color surface-overlay p-1 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full'">
                        <div *ngIf="credencialForm.get('referencia')?.errors?.['required'] && credencialForm.get('referencia')?.touched" class="p-error">
                            El campo es requerido
                        </div>
                        <div *ngIf="credencialForm.get('referencia')?.errors?.['maxlength'] && credencialForm.get('referencia')?.touched" class="p-error">
                            Ha excedido el número máximo de caracteres permitidos
                        </div>
                    </div>
                    <div class="field col-12 md:col-2">
                        <label for="codigoFrecuenciaActualizacion" class="pl-1">Frecuencia
                            <span *ngIf="isFieldRequired('codigoFrecuenciaActualizacion')" style="color: red;">*</span>
                        </label>
                        <p-dropdown
                            id="codigoFrecuenciaActualizacion" 
                            [options]="frecuencias" 
                            formControlName="codigoFrecuenciaActualizacion"
                            [showClear]="true" 
                            styleClass="w-full"
                            [ngClass]="(credencialForm.get('codigoFrecuenciaActualizacion')?.errors?.['required']) && credencialForm.get('codigoFrecuenciaActualizacion')?.touched ? 
                                'dropdown-invalid' : 
                                'dropdown-valid'"
                            [panelStyleClass]="(credencialForm.get('codigoFrecuenciaActualizacion')?.errors?.['required']) && credencialForm.get('codigoFrecuenciaActualizacion')?.touched ? 
                                'dropdown-invalid' : 
                                'dropdown-valid'"
                            optionLabel="descripcionFrecuencia" 
                            optionValue="codigo"
                            placeholder="Selecciona frecuencia">
                        </p-dropdown>

                        <div *ngIf="credencialForm.get('codigoFrecuenciaActualizacion')?.errors?.['required'] && credencialForm.get('codigoFrecuenciaActualizacion')?.touched" class="p-error">
                            El campo es requerido
                        </div>
                    </div>
                    <div class="field col-12 md:col-2">
                        <label for="codigoProveedor" class="pl-1">Proveedores
                            <span *ngIf="isFieldRequired('codigoProveedor')" style="color: red;">*</span>
                        </label>
                        <p-dropdown
                            id="codigoProveedor" 
                            [options]="proveedores" 
                            formControlName="codigoProveedor"
                            [showClear]="true" 
                            styleClass="w-full"
                            [ngClass]="(credencialForm.get('codigoProveedor')?.errors?.['required']) && credencialForm.get('codigoProveedor')?.touched ? 
                                'dropdown-invalid' : 
                                'dropdown-valid'"
                            [panelStyleClass]="(credencialForm.get('codigoProveedor')?.errors?.['required']) && credencialForm.get('codigoProveedor')?.touched ? 
                                'dropdown-invalid' : 
                                'dropdown-valid'"
                            optionLabel="nombre" 
                            optionValue="codigo"
                            (onChange)="onChangeProveedor($event);"
                            placeholder="Selecciona Proveedor">
                        </p-dropdown>

                        <div *ngIf="credencialForm.get('codigoProveedor')?.errors?.['required'] && credencialForm.get('codigoProveedor')?.touched" class="p-error">
                            El campo es requerido
                        </div>
                    </div>

                    <div class="field col-12 md:col-5"></div>
                    <div class="field col-12 md:col-1">
                        <p-button label="Guardar" 
                                pTooltip="Guardar" 
                                [outlined]="true" 
                                severity="secondary" 
                                (onClick)="guardar();"
                                [styleClass]="'w-full'"/>
                    </div>
                    <div class="field col-12 md:col-1">
                        <p-button label="Volver" 
                                pTooltip="Volver" 
                                [outlined]="true" 
                                severity="secondary" 
                                [routerLink]="['/credenciales']"
                                [styleClass]="'w-full'"/>
                    </div>
                    <div class="field col-12 md:col-5"></div>
                </div>
            </div>

        </div>
    </p-panel>

    
</form>
    