<app-header></app-header>
<p-toast/>
<p-confirmDialog/>
<form [formGroup]="perfilForm">
  <p-panel>
    <div class="card flex justify-center">
      <p-breadcrumb class="max-w-full" [model]="items" [home]="home" />
    </div>

    <div class="flex border-round bg-gray-100 p-3 m-3 border-1 border-300">

      <div class="w-12 p-3 flex align-items-center justify-content-center">
        <div class="formgrid grid">
          <div>
            <input type="hidden" formControlName="codigo" id="codigo">
          </div>
          <div class="field col-12 md:col-1"></div>
          <div class="field col-12 md:col-3">
            <label for="descripcion" class="pl-1">Descripción
              <span *ngIf="isFieldRequired('descripcion')" style="color: red;">*</span>
            </label>
            <input id="descripcion"
                   class="w-full"
                   pInputText
                   maxlength="100"
                   (input)="filterAlphanumeric($event)"
                   formControlName="descripcion"
                   [ngClass]="{ 'ng-invalid ng-dirty': isInvalid('descripcion') }"/>
            <div *ngFor="let msg of errors('descripcion')" class="pl-2">
              <p-message severity="error" variant="simple" size="small">{{ msg }}</p-message>
            </div>
          </div>

          <div class="field col-12 md:col-2">
            <label for="abreviatura" class="pl-1">Abreviatura
              <span *ngIf="isFieldRequired('abreviatura')" style="color: red;">*</span>
            </label>
            <input id="abreviatura"
                   class="w-full"
                   (input)="filterAlphanumeric($event);"
                   formControlName="abreviatura"
                   pInputText
                   maxlength="20"
                   [ngClass]="{ 'ng-invalid ng-dirty': isInvalid('abreviatura') }"/>
            <div *ngFor="let msg of errors('abreviatura')" class="pl-2">
              <p-message severity="error" variant="simple" size="small">{{ msg }}</p-message>
            </div>
          </div>

          <div class="field col-12 md:col-3">
            <label for="nombreComercial" class="pl-1">Nombre comercial
              <span *ngIf="isFieldRequired('nombreComercial')" style="color: red;">*</span>
            </label>
            <input id="nombreComercial"
                   class="w-full"
                   pInputText
                   (input)="filterAlphanumeric($event)"
                   formControlName="nombreComercial"
                   maxlength="100"
                   [ngClass]="{ 'ng-invalid ng-dirty': isInvalid('nombreComercial') }"/>
            <div *ngFor="let msg of errors('nombreComercial')" class="pl-2">
              <p-message severity="error" variant="simple" size="small">{{ msg }}</p-message>
            </div>
          </div>

          <div class="field col-12 md:col-2">
            <label for="fechaCaducidad" class="pl-1">Fecha de caducidad
              <span *ngIf="isFieldRequired('fechaCaducidad')" style="color: red;">*</span>
            </label>
            <p-datepicker id="fechaCaducidad"
                          [readonlyInput]="true"
                          formControlName="fechaCaducidad"
                          styleClass="w-full"
                          dateFormat="dd/mm/yy"
                          placeholder="Selecciona una fecha">
            </p-datepicker>
          </div>
          <div class="field col-12 md:col-1"></div>

          <div class="field col-12 md:col-5"></div>
          <div class="field col-12 md:col-1">
            <p-button label="Guardar"
                      pTooltip="Guardar"
                      [outlined]="true"
                      severity="secondary"
                      (onClick)="guardar();"
                      [styleClass]="'w-full'"/>
          </div>
          <div class="field col-12 md:col-1">
            <p-button label="Volver"
                      pTooltip="Volver"
                      [outlined]="true"
                      severity="secondary"
                      [routerLink]="['/perfil']"
                      [styleClass]="'w-full'"/>
          </div>
          <div class="field col-12 md:col-5"></div>
        </div>
      </div>

    </div>
  </p-panel>


</form>
