<app-header></app-header>
<p-confirmDialog />
    <p-messages [value]="messages"></p-messages>
    <form [formGroup]="cuentasSearchForm">
        <p-panel header="Cuentas">
            <div class="flex border-round bg-gray-100 m-1 border-1 border-300">
                <div class="w-12 flex align-items-center justify-content-center">
                    <div class="formgrid grid w-12 flex  pt-5">
                        <div class="field col-12 md:col-2">
                            <p-floatLabel>
                                <input id="numeroCuentaSearch" 
                                        type="text"
                                        pInputText
                                        (input)="filterAlphanumeric($event)"
                                        formControlName="numeroCuentaSearch"
                                        [ngClass]="'text-base h-3rem text-color surface-overlay p-1 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full'"
                                        styleClass="w-full">
                                <label for="numeroCuentaSearch">Número de cuenta</label>
                            </p-floatLabel>
    
                        </div>
                        <div class="field col-12 md:col-2">
                            <p-floatLabel>
                                <p-dropdown 
                                    formControlName="bancoSearch"
                                    [options]="bancos"
                                    [showClear]="true" 
                                    optionLabel="nombre"
                                    optionValue="codigo" 
                                    placeholder="Seleccione banco" 
                                    [filter]="true"
                                    filterBy="nombre" 
                                    class="text-base text-color surface-overlay surface-border border-round outline-none focus:border-primary"
                                    styleClass="w-full"/>
                                <label for="bancoSearch">Institución financiera</label>
                            </p-floatLabel>
                        </div>
                        <div class="field col-12 md:col-2">
                            <p-floatLabel>
                                <p-dropdown 
                                    formControlName="agrupacionSearch"
                                    [options]="agrupaciones"
                                    [showClear]="true" 
                                    optionLabel="nombreAgrupacionCliente"
                                    optionValue="codigo" 
                                    placeholder="Selecciona agrupacion" 
                                    class="text-base text-color surface-overlay surface-border border-round outline-none focus:border-primary"
                                    styleClass="w-full"/>
                                <label for="agrupacionSearch">Agrupación</label>
                            </p-floatLabel>
                        </div>
                        <div class="field col-12 md:col-2">
                            <p-floatLabel>
                                <p-dropdown 
                                    formControlName="estadoSearch"
                                    [options]="estados"
                                    optionLabel="descripcion"
                                    optionValue="valor" 
                                    placeholder="Selecciona estado" 
                                    class="text-base text-color surface-overlay surface-border border-round outline-none focus:border-primary"
                                    styleClass="w-full"/>
                                <label for="estadoSearch">Estado</label>
                            </p-floatLabel>
                        </div>
                        <div class="field col-12 md:col-1"></div>
                        <div class="field col-12 md:col-1 text-right">
                            <p-button label="Buscar" 
                                    pTooltip="Buscar" 
                                    [outlined]="true" 
                                    severity="secondary" 
                                    (onClick)="busqueda();"
                                    styleClass="w-full"/>
                        </div>
                        <div class="field col-12 md:col-1 text-right">
                            <p-button label="Limpiar" 
                                    pTooltip="Limpiar" 
                                    [outlined]="true" 
                                    severity="secondary" 
                                    (onClick)="reloadPage();"
                                    styleClass="w-full"/>
                        </div>
                        <div class="field col-12 md:col-1 text-right">
                            <p-button label="Agregar" 
                                    pTooltip="Agregar" 
                                    [outlined]="true" 
                                    severity="secondary" 
                                    [routerLink]="['/form-cuentas', 0]"
                                    styleClass="w-full"/>
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="flex border-round p-1 m-1 border-1 border-300">
                <div class="w-12 p-1 flex align-items-center justify-content-center">
                        <p-table
                            [value]="cuentas"
                            selectionMode="single" 
                            class="w-full"
                            [styleClass]="'p-datatable-sm'">
                            <ng-template pTemplate="header">
                                <tr>
                                    <th id="numeroCuenta" style="width:15%">Número de cuenta</th>
                                    <th id="banco" style="width:20%">Institución financiera</th>
                                    <th id="moneda" style="width:10%">Moneda</th>
                                    <th id="agrupacion" style="width:15%">Agrupación</th>
                                    <th id="freciencia" style="width:10%">Frecuencia</th>
                                    <th id="estado" style="width:10%">Estado</th>
                                    <th id="acciones" style="width:15%; text-align: center;">Acciones</th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-cuenta>
                                <tr>
                                    <td>{{cuenta.numeroCuenta}}</td>
                                    <td>{{cuenta.nombreInstitucionFinanciera}}</td>
                                    <td>{{cuenta.descripcionMonedaCuenta}}</td>
                                    <td>{{cuenta.agrupacion.nombreAgrupacionCliente}}</td>
                                    <td>{{cuenta.frecuenciaActualizacion.descripcionFrecuencia}}</td>
                                    <td>{{cuenta.estadoRegistro | estadoRegistroLabel}}</td>
                                    <td style="text-align: center;">
                    
                                        <p-button icon="pi pi-lock" 
                                            [rounded]="true" 
                                            [text]="true" 
                                            type="button" 
                                            pRipple
                                            severity="secondary"
                                            pTooltip="Vincular credenciales" 
                                            tooltipPosition="top"
                                            [disabled]="esBotonDeshabilitado(cuenta)"
                                            (onClick)="showDialogCredencial(cuenta.codigo)"/>

                                        <p-button icon="pi pi-file-edit" 
                                                [rounded]="true" 
                                                [text]="true" 
                                                type="button" 
                                                pRipple
                                                severity="secondary"
                                                pTooltip="Editar" 
                                                tooltipPosition="top" 
                                                [disabled]="esBotonDeshabilitado(cuenta)" 
                                                [routerLink]="['/form-cuentas', cuenta.codigo ]"/>
                                        <p-button icon="pi pi-trash" 
                                                [rounded]="true" 
                                                [text]="true" 
                                                type="button" 
                                                pRipple
                                                severity="secondary"
                                                pTooltip="Dar de baja" 
                                                tooltipPosition="left"
                                                [disabled]="esBotonDeshabilitado(cuenta)" 
                                                (onClick)="eliminarFila($event, cuenta)"/>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                </div> 
            </div>
            <app-paginator *ngIf="paginator" [paginatorInput] = "paginator" (paginatorOutput)="cambioPagina($event)"></app-paginator>
        </p-panel>
    </form>
    
    <p-dialog header="Vincular credenciales" [modal]="true" [(visible)]="visibleVinculoCredenciales" [style]="{ width: '40rem' }">
        <form [formGroup]="credencialForm">
            <span class="p-text-secondary block mb-5">Credenciales</span>
            <div class="flex align-items-center gap-3 mb-4">
                <label for="codigoCredencial" class="font-semibold w-10rem">Credencial</label>
                <p-dropdown
                                id="codigoCredencial" 
                                [options]="credenciales" 
                                formControlName="codigoCredencial"
                                [showClear]="true" 
                                styleClass="w-full"
                                [ngClass]="(credencialForm.get('codigoCredencial')?.errors?.['required']) && credencialForm.get('codigoCredencial')?.touched ? 
                                    'dropdown-invalid' : 
                                    'dropdown-valid'"
                                [panelStyleClass]="(credencialForm.get('codigoCredencial')?.errors?.['required']) && credencialForm.get('codigoCredencial')?.touched ? 
                                    'dropdown-invalid' : 
                                    'dropdown-valid'"
                                optionLabel="nombreReferencial" 
                                optionValue="codigo"
                                placeholder="Selecciona Credencial"
                                appendTo="body">
                            </p-dropdown>
            </div>
            <div class="flex justify-content-end gap-2">
                <p-button label="Guardar" pTooltip="Guardar" [outlined]="true" severity="secondary" (onClick)="vincularCredenciales()" [styleClass]="'w-full'"/>
                <p-button label="Cancelar" pTooltip="Cancelar" [outlined]="true" severity="secondary" (onClick)="visibleVinculoCredenciales = false" [styleClass]="'w-full'" />
                
            </div>
        </form>
    </p-dialog>