<app-header></app-header>
<p-toast></p-toast>
<p-confirmdialog></p-confirmdialog>
<form [formGroup]="perfilSearchForm">
  <p-panel>
    <div class="card flex justify-center">
      <p-breadcrumb class="max-w-full" [model]="items" [home]="home"/>
    </div>

    <div class="flex border-round bg-gray-100 m-1 border-1 border-300">
      <div class="w-12 flex align-items-center justify-content-center">
        <div class="formgrid grid w-12 flex  pt-5">
          <div class="field col-12 md:col-2">
            <p-floatLabel>
              <input id="nombreSearch"
                     type="text"
                     pInputText
                     (input)="filterAlphanumeric($event)"
                     formControlName="nombreSearch"
                     class="w-full"/>
              <label for="nombreSearch">Descripción perfil</label>
            </p-floatLabel>

          </div>
          <div class="field col-12 md:col-2">
            <p-floatLabel>
              <p-select
                formControlName="estadoSearch"
                [options]="estados"
                optionLabel="descripcion"
                optionValue="valor"
                placeholder="Selecciona estado"
                class="text-base text-color surface-overlay surface-border border-round outline-none focus:border-primary"
                styleClass="w-full"/>
              <label for="estadoSearch">Estado</label>
            </p-floatLabel>
          </div>
          <div class="field col-12 md:col-5">
          </div>
          <div class="field col-12 md:col-1 text-right">
            <p-button label="Buscar"
                      pTooltip="Buscar"
                      [outlined]="true"
                      severity="secondary"
                      (onClick)="busqueda();"
                      styleClass="w-full"/>
          </div>
          <div class="field col-12 md:col-1 text-right">
            <p-button label="Limpiar"
                      pTooltip="Limpiar"
                      [outlined]="true"
                      severity="secondary"
                      (onClick)="reloadPage();"
                      styleClass="w-full"/>
          </div>
          <div class="field col-12 md:col-1 text-right">
            <p-button label="Agregar"
                      pTooltip="Agregar"
                      [outlined]="true"
                      severity="secondary"
                      [routerLink]="['/form-perfil', 0]"
                      styleClass="w-full"/>
          </div>
        </div>
      </div>

    </div>
    <div class="flex border-round p-1 m-1 border-1 border-300">
      <div class="w-12 p-1 flex align-items-center justify-content-center">
        <p-table
          [value]="perfiles"
          selectionMode="single"
          class="w-full"
          [styleClass]="'p-datatable-sm'">
          <ng-template pTemplate="header">
            <tr>
              <th id="descripcion" style="width:20%">Descripción</th>
              <th id="abreviatura" style="width:15%">Abreviatura</th>
              <th id="nombre" style="width:15%">Nombre comercial</th>
              <th id="fechaCaducidad" style="width:10%">Fecha caducidad</th>
              <th id="estado" style="width:5%">Estado</th>
              <th id="acciones" style="width:15%; text-align: center;">Acciones</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-perfil>
            <tr>
              <td>{{ perfil.descripcion }}</td>
              <td>{{ perfil.abreviatura }}</td>
              <td>{{ perfil.nombreComercial }}</td>
              <td>{{ perfil.fechaCaducidad }}</td>
              <td>{{ perfil.estadoRegistro }}</td>
              <td style="text-align: center;">
                <p-button icon="pi pi-list"
                          [rounded]="true"
                          [text]="true"
                          type="button"
                          severity="secondary"
                          pTooltip="Vincular módulos"
                          tooltipPosition="top"
                          [disabled]="esBotonDeshabilitado(perfil)"
                          (onClick)="mostrarModal(perfil.codigo)"/>
                <p-button icon="pi pi-file-edit"
                          [rounded]="true"
                          [text]="true"
                          type="button"
                          severity="secondary"
                          pTooltip="Editar"
                          tooltipPosition="top"
                          [disabled]="esBotonDeshabilitado(perfil)"
                          [routerLink]="['/form-perfil', perfil.codigo ]"/>
                <p-button icon="pi pi-trash"
                          [rounded]="true"
                          [text]="true"
                          type="button"
                          severity="secondary"
                          pTooltip="Dar de baja"
                          tooltipPosition="left"
                          [disabled]="esBotonDeshabilitado(perfil)"
                          (onClick)="eliminarFila($event, perfil)"/>
              </td>
            </tr>
          </ng-template>
        </p-table>

      </div>
    </div>
    <app-paginator *ngIf="paginator" [paginatorInput]="paginator"
                   (paginatorOutput)="cambioPagina($event)"></app-paginator>
  </p-panel>
</form>

<p-dialog [modal]="true" [(visible)]="mostrarHijo" [style]="{ width: '50rem'}">
  <app-form-perfil-modulo (guardado)="onGuardado()" (cerrarModal)="cerrarModal()"></app-form-perfil-modulo>
  <div class="flex justify-content-end gap-2">
  </div>
</p-dialog>

