<div class="card">
  <p-picklist [source]="perfilesNoAsignados"
              [target]="perfilesAsignados"
              sourceHeader="- Perfiles no asignados -"
              targetHeader="- Perfiles asignados -"
              [dragdrop]="true"
              [responsive]="true"
              [sourceStyle]="{ height: '30rem' }"
              [targetStyle]="{ height: '30rem' }"
              [showSourceControls]="false"
              [showTargetControls]="false"
              breakpoint="1000px"
              scrollHeight="300px">
    <ng-template let-item #item>
      {{ item.descripcion }}
    </ng-template>
  </p-picklist>
</div>
<div class="w-12 p-3 flex align-items-center justify-content-center">
  <div class="formgrid grid">
    <div class="field col-12 md:col-6">
      <p-button label="Guardar"
                pTooltip="Guardar"
                variant="outlined"
                severity="info"
                (onClick)="guardarListas();"/>
    </div>
    <div class="field col-12 md:col-6">
      <p-button label="Cancelar" variant="outlined" severity="secondary" (onClick)="cerrar()"/>
    </div>
  </div>
</div>
