/* ======================== */
/* PrimeIcons              */
/* ======================== */
@import "primeicons/primeicons.css";

/* ======================== */
/* PrimeFlex (utilidades)  */
/* ======================== */
@import "primeflex/primeflex.css";

/* ======================== */
/* Fuente Poppins          */
/* ======================== */
@import "@fontsource/poppins/latin.css";

/* ======================== */
/* Personalizaciones       */
/* ======================== */
.custom-header th {
  background-color: #dddcdc;
  color: rgb(5, 5, 5);
}

body {
  font-family: 'Poppins', sans-serif;
}
